/*
 * TYPES
 * ******************************************************************************************
 */

@font-face {
  font-family: 'CitiPrevious';
  src: url('../fonts/icons/CitiPrevious.eot?mcni09');
  src: url('../fonts/icons/CitiPrevious.eot?mcni09#iefix') format('embedded-opentype'),
  url('../fonts/icons/CitiPrevious.ttf?mcni09') format('truetype'),
  url('../fonts/icons/CitiPrevious.woff?mcni09') format('woff'),
  url('../fonts/icons/CitiPrevious.svg?mcni09#CitiPrevious') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Citi';
  src: url('../fonts/icons/Citi.eot?v5llmc');
  src: url('../fonts/icons/Citi.eot?v5llmc#iefix') format('embedded-opentype'),
  url('../fonts/icons/Citi.ttf?v5llmc') format('truetype'),
  url('../fonts/icons/Citi.woff?v5llmc') format('woff'),
  url('../fonts/icons/Citi.svg?v5llmc#Citi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'CitiCircle';
  src: url('../fonts/icons/CitiCircle.eot?kp1oo4');
  src: url('../fonts/icons/CitiCircle.eot?kp1oo4#iefix') format('embedded-opentype'),
  url('../fonts/icons/CitiCircle.ttf?kp1oo4') format('truetype'),
  url('../fonts/icons/CitiCircle.woff?kp1oo4') format('woff'),
  url('../fonts/icons/CitiCircle.svg?kp1oo4#CitiCircle') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'CitiSmall';
  src: url('../fonts/icons/CitiSmall.eot?8duu3o');
  src: url('../fonts/icons/CitiSmall.eot?8duu3o#iefix') format('embedded-opentype'),
  url('../fonts/icons/CitiSmall.ttf?8duu3o') format('truetype'),
  url('../fonts/icons/CitiSmall.woff?8duu3o') format('woff'),
  url('../fonts/icons/CitiSmall.svg?8duu3o#CitiSmall') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'CitiSmallFilled';
  src: url('../fonts/icons/CitiSmallFilled.eot?7xsn3u');
  src: url('../fonts/icons/CitiSmallFilled.eot?7xsn3u#iefix') format('embedded-opentype'),
  url('../fonts/icons/CitiSmallFilled.ttf?7xsn3u') format('truetype'),
  url('../fonts/icons/CitiSmallFilled.woff?7xsn3u') format('woff'),
  url('../fonts/icons/CitiSmallFilled.svg?7xsn3u#CitiSmallFilled') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'CitiSmallBordered';
  src: url('../fonts/icons/CitiSmallBordered.eot?7xsn3u');
  src: url('../fonts/icons/CitiSmallBordered.eot?7xsn3u#iefix') format('embedded-opentype'),
  url('../fonts/icons/CitiSmallBordered.ttf?7xsn3u') format('truetype'),
  url('../fonts/icons/CitiSmallBordered.woff?7xsn3u') format('woff'),
  url('../fonts/icons/CitiSmallBordered.svg?7xsn3u#CitiSmallBordered') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.citi-type-previous {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CitiPrevious' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.citi-type-regular {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Citi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.citi-type-circle {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CitiCircle' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.citi-type-small-regular {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CitiSmall' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.citi-type-small-filled {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CitiSmallFilled' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.citi-type-small-bordered {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CitiSmallBordered' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * SIZES
 * ******************************************************************************************
 */

i.citi-size-regular-x-small {
  font-size: 32px;
}

i.citi-size-regular-small {
  font-size: 40px;
}

i.citi-size-regular-medium {
  font-size: 56px;
}

i.citi-size-regular-large {
  font-size: 68px;
}

i.citi-size-regular-x-large {
  font-size: 92px;
}

i.citi-size-small-small {
  font-size: 18px;
}

i.citi-size-small-medium {
  font-size: 20px;
}

i.citi-size-small-large {
  font-size: 22px;
}

/*
 * COLORS
 * ******************************************************************************************
 */
i.citi-color-b1 {
  color: #1A2E52;
}

i.citi-color-b1-disabled {
  color: #1A2E524D;
}

i.citi-color-b2 {
  color: #056DAE;
}

i.citi-color-b2-disabled {
  color: #056DAE4D;
}

i.citi-color-white {
  color: #FFFFFF;
}

i.citi-color-white-disabled {
  color: #FFFFFF4D;
}

/*
 * ICON LIST
 * ******************************************************************************************
 */

.citi-previous-company:before {
  content: "\ea36";
}

.citi-previous-export_doc:before {
  content: "\ea37";
}

.citi-previous-download_doc:before {
  content: "\ea38";
}

.citi-previous-question-solid:before {
  content: "\ea35";
}

.citi-previous-account-detail:before {
  content: "\ea30";
}

.citi-previous-elipsis:before {
  content: "\ea31";
}

.citi-previous-house-loan:before {
  content: "\ea32";
}

.citi-previous-mortgage:before {
  content: "\ea33";
}

.citi-previous-Transferencia:before {
  content: "\ea34";
}

.citi-previous-exclamationMark:before {
  content: "\ea2e";
}

.citi-previous-importantNotice:before {
  content: "\ea2f";
}

.citi-previous-circle-error:before {
  content: "\ea2d";
}

.citi-previous-recycle:before {
  content: "\ea2c";
}

.citi-previous-arrow-leftRight:before {
  content: "\ea2b";
}

.citi-previous-afore:before {
  content: "\ea1d";
}

.citi-previous-cardless:before {
  content: "\ea1e";
}

.citi-previous-cash-account:before {
  content: "\ea1f";
}

.citi-previous-clear:before {
  content: "\ea20";
}

.citi-previous-down:before {
  content: "\ea21";
}

.citi-previous-invest-automatic:before {
  content: "\ea22";
}

.citi-previous-invest-deposit:before {
  content: "\ea23";
}

.citi-previous-invest-withdraw:before {
  content: "\ea24";
}

.citi-previous-new-account:before {
  content: "\ea25";
}

.citi-previous-paycard:before {
  content: "\ea26";
}

.citi-previous-payments:before {
  content: "\ea27";
}

.citi-previous-recurrent:before {
  content: "\ea28";
}

.citi-previous-repair:before {
  content: "\ea29";
}

.citi-previous-transactions:before {
  content: "\ea2a";
}

.citi-previous-alert-circle:before {
  content: "\ea1c";
}

.citi-previous-arrow-right1:before {
  content: "\ea1a";
}

.citi-previous-arrow-down1:before {
  content: "\ea1b";
}

.citi-previous-scanner:before {
  content: "\ea19";
}

.citi-previous-new-address:before {
  content: "\ea18";
}

.citi-previous-cash-mobile:before {
  content: "\ea17";
}

.citi-previous-investment-mobile:before {
  content: "\ea16";
}

.citi-previous-chat:before {
  content: "\e930";
}

.citi-previous-light-bulb:before {
  content: "\e931";
}

.citi-previous-line-chart:before {
  content: "\e936";
}

.citi-previous-clock:before {
  content: "\e937";
}

.citi-previous-travel-add:before {
  content: "\e938";
}

.citi-previous-ready-credit:before {
  content: "\e939";
}

.citi-previous-security:before {
  content: "\e93a";
}

.citi-previous-hide:before {
  content: "\e93b";
}

.citi-previous-earn-cash:before {
  content: "\e93c";
}

.citi-previous-local-events:before {
  content: "\e93d";
}

.citi-previous-graph-refresh:before {
  content: "\e93e";
}

.citi-previous-card-unlock:before {
  content: "\e93f";
}

.citi-previous-travel:before {
  content: "\e940";
}

.citi-previous-call-back:before {
  content: "\e941";
}

.citi-previous-price-tag:before {
  content: "\e942";
}

.citi-previous-stopwatch:before {
  content: "\e943";
}

.citi-previous-certificate:before {
  content: "\e944";
}

.citi-previous-carbon-copy:before {
  content: "\e945";
}

.citi-previous-1x:before {
  content: "\e946";
}

.citi-previous-rating:before {
  content: "\e947";
}

.citi-previous-trending-upward:before {
  content: "\e948";
}

.citi-previous-reports:before {
  content: "\e949";
}

.citi-previous-graph-money:before {
  content: "\e94a";
}

.citi-previous-support:before {
  content: "\e94b";
}

.citi-previous-personal-account:before {
  content: "\e94c";
}

.citi-previous-calendar-dates:before {
  content: "\e94d";
}

.citi-previous-percent:before {
  content: "\e94e";
}

.citi-previous-unread-notification:before {
  content: "\e94f";
}

.citi-previous-mobile-pin:before {
  content: "\e950";
}

.citi-previous-pin-refresh:before {
  content: "\e951";
}

.citi-previous-flash-off:before {
  content: "\e952";
}

.citi-previous-cash-up:before {
  content: "\e953";
}

.citi-previous-notification-check:before {
  content: "\e954";
}

.citi-previous-link:before {
  content: "\e955";
}

.citi-previous-person-person:before {
  content: "\e956";
}

.citi-previous-mobile-alert:before {
  content: "\e957";
}

.citi-previous-zero-money:before {
  content: "\e958";
}

.citi-previous-one-percent:before {
  content: "\e959";
}

.citi-previous-nine:before {
  content: "\e95a";
}

.citi-previous-four:before {
  content: "\e95b";
}

.citi-previous-line-graph:before {
  content: "\e95c";
}

.citi-previous-download:before {
  content: "\e95d";
}

.citi-previous-play:before {
  content: "\e95e";
}

.citi-previous-share:before {
  content: "\e95f";
}

.citi-previous-org-chart:before {
  content: "\e960";
}

.citi-previous-move:before {
  content: "\e961";
}

.citi-previous-lock:before {
  content: "\e962";
}

.citi-previous-euro:before {
  content: "\e963";
}

.citi-previous-mic:before {
  content: "\e964";
}

.citi-previous-lock-pin:before {
  content: "\e965";
}

.citi-previous-card-pin:before {
  content: "\e966";
}

.citi-previous-leaf:before {
  content: "\e967";
}

.citi-previous-event-ticket:before {
  content: "\e968";
}

.citi-previous-flash-on:before {
  content: "\e969";
}

.citi-previous-graph-check:before {
  content: "\e96a";
}

.citi-previous-report-alert:before {
  content: "\e96b";
}

.citi-previous-clothing:before {
  content: "\e96c";
}

.citi-previous-mobile-wifi:before {
  content: "\e96d";
}

.citi-previous-alerting-service:before {
  content: "\e96e";
}

.citi-previous-wireless:before {
  content: "\e96f";
}

.citi-previous-restaurant:before {
  content: "\e970";
}

.citi-previous-car:before {
  content: "\e971";
}

.citi-previous-3x:before {
  content: "\e972";
}

.citi-previous-five-percent:before {
  content: "\e973";
}

.citi-previous-trending-down:before {
  content: "\e974";
}

.citi-previous-document-paperless:before {
  content: "\e975";
}

.citi-previous-graph-add:before {
  content: "\e976";
}

.citi-previous-cash-statement:before {
  content: "\e977";
}

.citi-previous-money-refresh:before {
  content: "\e978";
}

.citi-previous-calendar-plain:before {
  content: "\e979";
}

.citi-previous-overview:before {
  content: "\e97a";
}

.citi-previous-checkbox:before {
  content: "\e97b";
}

.citi-previous-mobile-chart:before {
  content: "\e97c";
}

.citi-previous-expand:before {
  content: "\e97d";
}

.citi-previous-cut:before {
  content: "\e97e";
}

.citi-previous-cash-cross:before {
  content: "\e97f";
}

.citi-previous-exchange-fees:before {
  content: "\e980";
}

.citi-previous-dislike:before {
  content: "\e981";
}

.citi-previous-price-refresh:before {
  content: "\e982";
}

.citi-previous-calculator:before {
  content: "\e983";
}

.citi-previous-scale:before {
  content: "\e984";
}

.citi-previous-account:before {
  content: "\e985";
}

.citi-previous-eight:before {
  content: "\e986";
}

.citi-previous-three:before {
  content: "\e987";
}

.citi-previous-payment-schedule:before {
  content: "\e988";
}

.citi-previous-laptop:before {
  content: "\e989";
}

.citi-previous-mouse-pointer:before {
  content: "\e98a";
}

.citi-previous-camera:before {
  content: "\e98b";
}

.citi-previous-cart:before {
  content: "\e98c";
}

.citi-previous-cash:before {
  content: "\e98d";
}

.citi-previous-thumbnail-view:before {
  content: "\e98e";
}

.citi-previous-touch-id:before {
  content: "\e98f";
}

.citi-previous-refresh:before {
  content: "\e990";
}

.citi-previous-heart:before {
  content: "\e991";
}

.citi-previous-global-next:before {
  content: "\e992";
}

.citi-previous-graph-cash:before {
  content: "\e993";
}

.citi-previous-service:before {
  content: "\e994";
}

.citi-previous-travel-check:before {
  content: "\e995";
}

.citi-previous-calendar-bolt:before {
  content: "\e996";
}

.citi-previous-savings:before {
  content: "\e997";
}

.citi-previous-show:before {
  content: "\e998";
}

.citi-previous-screen-bank:before {
  content: "\e999";
}

.citi-previous-graph-certificate:before {
  content: "\e99a";
}

.citi-previous-disable:before {
  content: "\e99b";
}

.citi-previous-pin-question:before {
  content: "\e99c";
}

.citi-previous-balance-refresh:before {
  content: "\e99d";
}

.citi-previous-couch:before {
  content: "\e99e";
}

.citi-previous-security-check:before {
  content: "\e99f";
}

.citi-previous-user-pin:before {
  content: "\e9a0";
}

.citi-previous-2x:before {
  content: "\e9a1";
}

.citi-previous-three-percent:before {
  content: "\e9a2";
}

.citi-previous-calendar-paid:before {
  content: "\e9a3";
}

.citi-previous-mobile-settings:before {
  content: "\e9a4";
}

.citi-previous-card-star:before {
  content: "\e9a5";
}

.citi-previous-camera-shutter:before {
  content: "\e9a6";
}

.citi-previous-cash-next:before {
  content: "\e9a7";
}

.citi-previous-online-payment:before {
  content: "\e9a8";
}

.citi-previous-vacation:before {
  content: "\e9a9";
}

.citi-previous-security-alert:before {
  content: "\e9aa";
}

.citi-previous-global-transfer:before {
  content: "\e9ab";
}

.citi-previous-reward-card:before {
  content: "\e9ac";
}

.citi-previous-badge:before {
  content: "\e9ad";
}

.citi-previous-document-clearing:before {
  content: "\e9ae";
}

.citi-previous-bulls-eye:before {
  content: "\e9af";
}

.citi-previous-theater:before {
  content: "\e9b0";
}

.citi-previous-clip:before {
  content: "\e9b1";
}

.citi-previous-hotels:before {
  content: "\e9b2";
}

.citi-previous-transfer:before {
  content: "\e9b3";
}

.citi-previous-circle-check:before {
  content: "\e9b4";
}

.citi-previous-six:before {
  content: "\e9b5";
}

.citi-previous-one:before {
  content: "\e9b6";
}

.citi-previous-check-book:before {
  content: "\e9b7";
}

.citi-previous-relationship:before {
  content: "\e9b8";
}

.citi-previous-comment:before {
  content: "\e9b9";
}

.citi-previous-document:before {
  content: "\e9bb";
}

.citi-previous-money:before {
  content: "\e9bc";
}

.citi-previous-settings:before {
  content: "\e9bd";
}

.citi-previous-british-pound:before {
  content: "\e9be";
}

.citi-previous-star:before {
  content: "\e9bf";
}

.citi-previous-lock-check:before {
  content: "\e9c0";
}

.citi-previous-card-lock:before {
  content: "\e9c1";
}

.citi-previous-infinity:before {
  content: "\e9c2";
}

.citi-previous-time-deposit:before {
  content: "\e9c3";
}

.citi-previous-medications:before {
  content: "\e9c4";
}

.citi-previous-face-id:before {
  content: "\e9c5";
}

.citi-previous-cash-deposit:before {
  content: "\e9c6";
}

.citi-previous-auto-service:before {
  content: "\e9c7";
}

.citi-previous-fuel:before {
  content: "\e9c8";
}

.citi-previous-email-money:before {
  content: "\e9c9";
}

.citi-previous-shopping-refresh:before {
  content: "\e9ca";
}

.citi-previous-travel-bag:before {
  content: "\e9cb";
}

.citi-previous-security-money:before {
  content: "\e9cc";
}

.citi-previous-scheduled-service:before {
  content: "\e9cd";
}

.citi-previous-5x:before {
  content: "\e9ce";
}

.citi-previous-four-percent:before {
  content: "\e9cf";
}

.citi-previous-trending:before {
  content: "\e9d0";
}

.citi-previous-mobile-question:before {
  content: "\e9d1";
}

.citi-previous-graph-phone:before {
  content: "\e9d2";
}

.citi-previous-slider:before {
  content: "\e9d3";
}

.citi-previous-cash-amount:before {
  content: "\e9d4";
}

.citi-previous-anual-free:before {
  content: "\e9d5";
}

.citi-previous-citipay:before {
  content: "\e9d6";
}

.citi-previous-security-trip:before {
  content: "\e9d7";
}

.citi-previous-mobile-money:before {
  content: "\e9d8";
}

.citi-previous-investment:before {
  content: "\e9d9";
}

.citi-previous-charity:before {
  content: "\e9da";
}

.citi-previous-cash-down:before {
  content: "\e9db";
}

.citi-previous-globe-trade:before {
  content: "\e9dc";
}

.citi-previous-like:before {
  content: "\e9dd";
}

.citi-previous-offers:before {
  content: "\e9de";
}

.citi-previous-branch:before {
  content: "\e9df";
}

.citi-previous-performance:before {
  content: "\e9e0";
}

.citi-previous-question:before {
  content: "\e9e1";
}

.citi-previous-seven:before {
  content: "\e9e2";
}

.citi-previous-two:before {
  content: "\e9e3";
}

.citi-previous-bill:before {
  content: "\e9e4";
}

.citi-previous-pin:before {
  content: "\e9e5";
}

.citi-previous-calendar:before {
  content: "\e9e6";
}

.citi-previous-options-hor:before {
  content: "\e9ba";
}

.citi-previous-options-ver:before {
  content: "\e9e7";
}

.citi-previous-document-play:before {
  content: "\e9e8";
}

.citi-previous-bar-chart:before {
  content: "\e9e9";
}

.citi-previous-list-view:before {
  content: "\e9ea";
}

.citi-previous-filter:before {
  content: "\e9eb";
}

.citi-previous-yen:before {
  content: "\e9ec";
}

.citi-previous-unlock:before {
  content: "\e9ed";
}

.citi-previous-document-check:before {
  content: "\e9ee";
}

.citi-previous-graph-up:before {
  content: "\e9ef";
}

.citi-previous-more:before {
  content: "\e9f0";
}

.citi-previous-travel-security:before {
  content: "\e9f1";
}

.citi-previous-calendar-date:before {
  content: "\e9f2";
}

.citi-previous-pie-chart:before {
  content: "\e9f3";
}

.citi-previous-wallet-down:before {
  content: "\e9f4";
}

.citi-previous-mobile-profile:before {
  content: "\e9f5";
}

.citi-previous-badge-check:before {
  content: "\e9f6";
}

.citi-previous-folder:before {
  content: "\e9f7";
}

.citi-previous-pin-star:before {
  content: "\e9f8";
}

.citi-previous-notification-alert:before {
  content: "\e9f9";
}

.citi-previous-return:before {
  content: "\e9fa";
}

.citi-previous-internet-fraud:before {
  content: "\e9fb";
}

.citi-previous-add-user:before {
  content: "\e9fc";
}

.citi-previous-oneone:before {
  content: "\e9fd";
}

.citi-previous-two-percent:before {
  content: "\e9fe";
}

.citi-previous-calendar-payment:before {
  content: "\e9ff";
}

.citi-previous-document-checklist:before {
  content: "\ea00";
}

.citi-previous-card-stack:before {
  content: "\ea01";
}

.citi-previous-qr:before {
  content: "\ea02";
}

.citi-previous-cash-check:before {
  content: "\ea03";
}

.citi-previous-mobile-contact:before {
  content: "\ea04";
}

.citi-previous-team:before {
  content: "\ea05";
}

.citi-previous-document-pdf:before {
  content: "\ea06";
}

.citi-previous-folder-security:before {
  content: "\ea07";
}

.citi-previous-gift-card:before {
  content: "\ea08";
}

.citi-previous-risk-control:before {
  content: "\ea09";
}

.citi-previous-payables:before {
  content: "\ea0a";
}

.citi-previous-mobile-deposit:before {
  content: "\ea0b";
}

.citi-previous-shopping:before {
  content: "\ea0c";
}

.citi-previous-circle:before {
  content: "\ea0d";
}

.citi-previous-badge-star:before {
  content: "\ea0e";
}

.citi-previous-utilities:before {
  content: "\ea0f";
}

.citi-previous-five:before {
  content: "\ea10";
}

.citi-previous-account-summary:before {
  content: "\ea11";
}

.citi-previous-upload:before {
  content: "\ea12";
}

.citi-previous-contact:before {
  content: "\ea13";
}

.citi-previous-zoom-in:before {
  content: "\ea14";
}

.citi-previous-print:before {
  content: "\ea15";
}

.citi-previous-arrow-down:before {
  content: "\e932";
}

.citi-previous-arrow-up:before {
  content: "\e933";
}

.citi-previous-arrow-left:before {
  content: "\e934";
}

.citi-previous-arrow-right:before {
  content: "\e935";
}

.citi-previous-information-solid:before {
  content: "\e92b";
}

.citi-previous-information:before {
  content: "\e920";
}

.citi-previous-chevron-left:before {
  content: "\e92f";
}

.citi-previous-chevron-right:before {
  content: "\e92c";
}

.citi-previous-chevron-down:before {
  content: "\e921";
}

.citi-previous-chevron-up:before {
  content: "\e91f";
}

.citi-previous-minus:before {
  content: "\e92d";
}

.citi-previous-pencil:before {
  content: "\e92e";
}

.citi-previous-user-location:before {
  content: "\e926";
}

.citi-previous-building:before {
  content: "\e927";
}

.citi-previous-card:before {
  content: "\e928";
}

.citi-previous-user-global:before {
  content: "\e929";
}

.citi-previous-user-money:before {
  content: "\e92a";
}

.citi-previous-mobile-verify:before {
  content: "\e900";
}

.citi-previous-trash-solid1:before {
  content: "\e90a";
}

.citi-previous-trash:before {
  content: "\e906";
}

.citi-previous-bancanet:before {
  content: "\e91e";
}

.citi-previous-doc-text:before {
  content: "\e922";
}

.citi-previous-no:before {
  content: "\e923";
}

.citi-previous-house:before {
  content: "\e924";
}

.citi-previous-add:before {
  content: "\e925";
}

.citi-previous-alert:before {
  content: "\e91d";
}

.citi-previous-send:before {
  content: "\e918";
}

.citi-previous-netkey:before {
  content: "\e91c";
}

.citi-previous-notification:before {
  content: "\e911";
}

.citi-previous-email:before {
  content: "\e913";
}

.citi-previous-mobile:before {
  content: "\e917";
}

.citi-previous-passport:before {
  content: "\e919";
}

.citi-previous-ine-front:before {
  content: "\e91a";
}

.citi-previous-ine-rear:before {
  content: "\e91b";
}

.citi-previous-open-menu:before {
  content: "\e912";
}

.citi-previous-logout:before {
  content: "\e916";
}

.citi-previous-yes:before {
  content: "\e910";
}

.citi-previous-search:before {
  content: "\e914";
}

.citi-previous-menu:before {
  content: "\e915";
}

.citi-previous-business-man:before {
  content: "\e901";
}

.citi-previous-business-person:before {
  content: "\e902";
}

.citi-previous-chair:before {
  content: "\e903";
}

.citi-previous-flag:before {
  content: "\e904";
}

.citi-previous-globe:before {
  content: "\e905";
}

.citi-previous-idea:before {
  content: "\e907";
}

.citi-previous-man:before {
  content: "\e908";
}

.citi-previous-money1:before {
  content: "\e909";
}

.citi-previous-student:before {
  content: "\e90b";
}

.citi-previous-formal-employee:before {
  content: "\e90c";
}

.citi-previous-informal-employee:before {
  content: "\e90d";
}

.citi-previous-unemployed:before {
  content: "\e90e";
}

.citi-previous-woman:before {
  content: "\e90f";
}

.citi-action-check:before {
  content: "\e900";
}

.citi-action-clip:before {
  content: "\e901";
}

.citi-action-close:before {
  content: "\e902";
}

.citi-action-download:before {
  content: "\e903";
}

.citi-action-edit:before {
  content: "\e904";
}

.citi-action-flash-off:before {
  content: "\e905";
}

.citi-action-flash-on:before {
  content: "\e906";
}

.citi-action-full-screen:before {
  content: "\e907";
}

.citi-action-list-filtered:before {
  content: "\e908";
}

.citi-action-list:before {
  content: "\e909";
}

.citi-action-navigation:before {
  content: "\e90a";
}

.citi-action-play:before {
  content: "\e90b";
}

.citi-action-print:before {
  content: "\e90c";
}

.citi-action-refresh:before {
  content: "\e90d";
}

.citi-action-sciscors:before {
  content: "\e90e";
}

.citi-action-search-zoom:before {
  content: "\e90f";
}

.citi-action-search:before {
  content: "\e910";
}

.citi-action-settings:before {
  content: "\e911";
}

.citi-action-slider:before {
  content: "\e912";
}

.citi-action-tools:before {
  content: "\e913";
}

.citi-action-trash:before {
  content: "\e914";
}

.citi-action-upload:before {
  content: "\e915";
}

.citi-action-view-tile:before {
  content: "\e916";
}

.citi-action-volume-off:before {
  content: "\e917";
}

.citi-action-volume-on:before {
  content: "\e918";
}

.citi-card-card-balance-transfer:before {
  content: "\e919";
}

.citi-card-card-favorite:before {
  content: "\e91a";
}

.citi-card-card-hand:before {
  content: "\e91b";
}

.citi-card-card-lock-off:before {
  content: "\e91c";
}

.citi-card-card-lock-on:before {
  content: "\e91d";
}

.citi-card-card-pin-refresh:before {
  content: "\e91e";
}

.citi-card-card-pin:before {
  content: "\e91f";
}

.citi-card-card-plus:before {
  content: "\e920";
}

.citi-card-card-stack:before {
  content: "\e921";
}

.citi-card-card-warning:before {
  content: "\e922";
}

.citi-card-card:before {
  content: "\e923";
}

.citi-communication-camera-lens:before {
  content: "\e924";
}

.citi-communication-chat-purpose:before {
  content: "\e925";
}

.citi-communication-chat:before {
  content: "\e926";
}

.citi-communication-comment-purpose:before {
  content: "\e927";
}

.citi-communication-comment:before {
  content: "\e928";
}

.citi-communication-favorite:before {
  content: "\e929";
}

.citi-communication-globe-arrow-right:before {
  content: "\e92a";
}

.citi-communication-globe-arrows:before {
  content: "\e92b";
}

.citi-communication-globe-refresh:before {
  content: "\e92c";
}

.citi-communication-globe:before {
  content: "\e92d";
}

.citi-communication-idea:before {
  content: "\e92e";
}

.citi-communication-laptop-dollars:before {
  content: "\e92f";
}

.citi-communication-laptop-pin:before {
  content: "\e930";
}

.citi-communication-laptop-play:before {
  content: "\e931";
}

.citi-communication-laptop:before {
  content: "\e932";
}

.citi-communication-mail:before {
  content: "\e933";
}

.citi-communication-microphone:before {
  content: "\e934";
}

.citi-communication-phone-call-back:before {
  content: "\e935";
}

.citi-communication-phone:before {
  content: "\e936";
}

.citi-communication-qr-code:before {
  content: "\e937";
}

.citi-communication-thumb-down:before {
  content: "\e938";
}

.citi-communication-thumb-up:before {
  content: "\e939";
}

.citi-currency-cash-check:before {
  content: "\e93a";
}

.citi-currency-dollar-back-arrow:before {
  content: "\e93b";
}

.citi-currency-dollar-back:before {
  content: "\e93c";
}

.citi-currency-dollar-bill-check:before {
  content: "\e93d";
}

.citi-currency-dollar-bill-close:before {
  content: "\e93e";
}

.citi-currency-dollar-bill-down:before {
  content: "\e93f";
}

.citi-currency-dollar-bill-right:before {
  content: "\e940";
}

.citi-currency-dollar-bill-stack:before {
  content: "\e941";
}

.citi-currency-dollar-bill-up:before {
  content: "\e942";
}

.citi-currency-dollar-bill:before {
  content: "\e943";
}

.citi-currency-dollar-check:before {
  content: "\e944";
}

.citi-currency-dollar-direct-deposit:before {
  content: "\e945";
}

.citi-currency-dollar-forward:before {
  content: "\e946";
}

.citi-currency-dollar-performance:before {
  content: "\e947";
}

.citi-currency-dollar-refresh:before {
  content: "\e948";
}

.citi-currency-dollar:before {
  content: "\e949";
}

.citi-currency-dollars-0:before {
  content: "\e94a";
}

.citi-currency-euro:before {
  content: "\e94b";
}

.citi-currency-pound:before {
  content: "\e94c";
}

.citi-currency-refresh-dollar:before {
  content: "\e94d";
}

.citi-currency-yen:before {
  content: "\e94e";
}

.citi-data-bar-chart-arrow-up:before {
  content: "\e94f";
}

.citi-data-bar-chart-dollar-bill:before {
  content: "\e950";
}

.citi-data-bar-chart-dollars:before {
  content: "\e951";
}

.citi-data-bar-chart-phone:before {
  content: "\e952";
}

.citi-data-bar-chart-plus:before {
  content: "\e953";
}

.citi-data-bar-chart:before {
  content: "\e954";
}

.citi-data-bullseye:before {
  content: "\e955";
}

.citi-data-graph-trend-down:before {
  content: "\e956";
}

.citi-data-graph-trend-up:before {
  content: "\e957";
}

.citi-data-investing-risk:before {
  content: "\e958";
}

.citi-data-line-graph-check:before {
  content: "\e959";
}

.citi-data-line-graph-data:before {
  content: "\e95a";
}

.citi-data-line-graph-refresh:before {
  content: "\e95b";
}

.citi-data-line-graph:before {
  content: "\e95c";
}

.citi-data-org-chart:before {
  content: "\e95d";
}

.citi-data-percentage-symbol:before {
  content: "\e95e";
}

.citi-data-performance:before {
  content: "\e95f";
}

.citi-data-pie-chart-zoom:before {
  content: "\e960";
}

.citi-data-pie-chart:before {
  content: "\e961";
}

.citi-data-point:before {
  content: "\e962";
}

.citi-data-speed-performance:before {
  content: "\e963";
}

.citi-direction-arrow-down:before {
  content: "\e964";
}

.citi-direction-arrow-left:before {
  content: "\e965";
}

.citi-direction-arrow-pointer:before {
  content: "\e966";
}

.citi-direction-arrow-right:before {
  content: "\e967";
}

.citi-direction-arrow-up:before {
  content: "\e968";
}

.citi-direction-chevron-down:before {
  content: "\e969";
}

.citi-direction-chevron-left:before {
  content: "\e96a";
}

.citi-direction-chevron-right:before {
  content: "\e96b";
}

.citi-direction-chevron-up:before {
  content: "\e96c";
}

.citi-direction-expand:before {
  content: "\e96d";
}

.citi-direction-home:before {
  content: "\e96e";
}

.citi-direction-link:before {
  content: "\e96f";
}

.citi-direction-location-favorite:before {
  content: "\e970";
}

.citi-direction-location-help:before {
  content: "\e971";
}

.citi-direction-location:before {
  content: "\e972";
}

.citi-direction-minus:before {
  content: "\e973";
}

.citi-direction-more-vertical:before {
  content: "\e974";
}

.citi-direction-more:before {
  content: "\e975";
}

.citi-direction-none:before {
  content: "\e976";
}

.citi-direction-plus:before {
  content: "\e977";
}

.citi-direction-position:before {
  content: "\e978";
}

.citi-direction-question-mark:before {
  content: "\e979";
}

.citi-direction-refresh:before {
  content: "\e97a";
}

.citi-document-carbon-copy:before {
  content: "\e97b";
}

.citi-document-document-bill:before {
  content: "\e97c";
}

.citi-document-document-check:before {
  content: "\e97d";
}

.citi-document-document-form:before {
  content: "\e97e";
}

.citi-document-document-graph:before {
  content: "\e97f";
}

.citi-document-document-list:before {
  content: "\e980";
}

.citi-document-document-overview:before {
  content: "\e981";
}

.citi-document-document-paperless:before {
  content: "\e982";
}

.citi-document-document-past:before {
  content: "\e983";
}

.citi-document-document-payables:before {
  content: "\e984";
}

.citi-document-document-pdf:before {
  content: "\e985";
}

.citi-document-document-personal:before {
  content: "\e986";
}

.citi-document-document-play:before {
  content: "\e987";
}

.citi-document-document-plus:before {
  content: "\e988";
}

.citi-document-document:before {
  content: "\e989";
}

.citi-document-folder:before {
  content: "\e98a";
}

.citi-document-green:before {
  content: "\e98b";
}

.citi-ecommerce-cart:before {
  content: "\e98c";
}

.citi-ecommerce-refresh-cart:before {
  content: "\e98d";
}

.citi-ecommerce-shopping-bag-check:before {
  content: "\e98e";
}

.citi-ecommerce-shopping-bag:before {
  content: "\e98f";
}

.citi-ecommerce-tag-dollars:before {
  content: "\e990";
}

.citi-ecommerce-tag-percentage:before {
  content: "\e991";
}

.citi-ecommerce-tag:before {
  content: "\e992";
}

.citi-finance-1-to-1:before {
  content: "\e993";
}

.citi-finance-accounts:before {
  content: "\e994";
}

.citi-finance-calculator:before {
  content: "\e995";
}

.citi-finance-certificate-check:before {
  content: "\e996";
}

.citi-finance-certificate-reward:before {
  content: "\e997";
}

.citi-finance-certificate-stock:before {
  content: "\e998";
}

.citi-finance-checkbook:before {
  content: "\e999";
}

.citi-finance-checking-accounts:before {
  content: "\e99a";
}

.citi-finance-envelope-send-money:before {
  content: "\e99b";
}

.citi-finance-multiplier-1x:before {
  content: "\e99c";
}

.citi-finance-multiplier-2x:before {
  content: "\e99d";
}

.citi-finance-multiplier-3x:before {
  content: "\e99e";
}

.citi-finance-multiplier-5x:before {
  content: "\e99f";
}

.citi-finance-percentage-1:before {
  content: "\e9a0";
}

.citi-finance-percentage-2:before {
  content: "\e9a1";
}

.citi-finance-percentage-3:before {
  content: "\e9a2";
}

.citi-finance-percentage-4:before {
  content: "\e9a3";
}

.citi-finance-percentage-5:before {
  content: "\e9a4";
}

.citi-finance-savings:before {
  content: "\e9a5";
}

.citi-finance-search-risk-control:before {
  content: "\e9a6";
}

.citi-finance-send-funds:before {
  content: "\e9a7";
}

.citi-finance-wallet-download:before {
  content: "\e9a8";
}

.citi-finance-wallet:before {
  content: "\e9a9";
}

.citi-mobile-mobile-approved:before {
  content: "\e9aa";
}

.citi-mobile-mobile-check:before {
  content: "\e9ab";
}

.citi-mobile-mobile-dollars:before {
  content: "\e9ac";
}

.citi-mobile-mobile-faq:before {
  content: "\e9ad";
}

.citi-mobile-mobile-hand:before {
  content: "\e9ae";
}

.citi-mobile-mobile-phone-call:before {
  content: "\e9af";
}

.citi-mobile-mobile-pin:before {
  content: "\e9b0";
}

.citi-mobile-mobile-profile:before {
  content: "\e9b1";
}

.citi-mobile-mobile-settings:before {
  content: "\e9b2";
}

.citi-mobile-mobile-tap-to-pay:before {
  content: "\e9b3";
}

.citi-mobile-mobile-trending:before {
  content: "\e9b4";
}

.citi-mobile-mobile-warning:before {
  content: "\e9b5";
}

.citi-mobile-mobile:before {
  content: "\e9b6";
}

.citi-mobile-multi-channel:before {
  content: "\e9b7";
}

.citi-notification-alert-check:before {
  content: "\e9b8";
}

.citi-notification-alert-warning:before {
  content: "\e9b9";
}

.citi-notification-alert:before {
  content: "\e9ba";
}

.citi-notification-box-check:before {
  content: "\e9bb";
}

.citi-notification-flag:before {
  content: "\e9bc";
}

.citi-notification-help:before {
  content: "\e9bd";
}

.citi-notification-information-b1svg:before {
  content: "\e9be";
}

.citi-notification-more:before {
  content: "\e9bf";
}

.citi-notification-refresh-check:before {
  content: "\e9c0";
}

.citi-notification-success:before {
  content: "\e9c1";
}

.citi-notification-warning:before {
  content: "\e9c2";
}

.citi-profile-profile-chat:before {
  content: "\e9c3";
}

.citi-profile-profile-p2p:before {
  content: "\e9c4";
}

.citi-profile-profile-pin:before {
  content: "\e9c5";
}

.citi-profile-profile-plus:before {
  content: "\e9c6";
}

.citi-profile-profile-service:before {
  content: "\e9c7";
}

.citi-profile-profile-team:before {
  content: "\e9c8";
}

.citi-profile-profile:before {
  content: "\e9c9";
}

.citi-profile-relationship:before {
  content: "\e9ca";
}

.citi-region-apac:before {
  content: "\e9cb";
}

.citi-region-emea:before {
  content: "\e9cc";
}

.citi-region-latam:before {
  content: "\e9cd";
}

.citi-region-nam:before {
  content: "\e9ce";
}

.citi-schedule-calendar-bolt:before {
  content: "\e9cf";
}

.citi-schedule-calendar-check:before {
  content: "\e9d0";
}

.citi-schedule-calendar-date:before {
  content: "\e9d1";
}

.citi-schedule-calendar-dates:before {
  content: "\e9d2";
}

.citi-schedule-calendar-free:before {
  content: "\e9d3";
}

.citi-schedule-calendar-location:before {
  content: "\e9d4";
}

.citi-schedule-calendar-more:before {
  content: "\e9d5";
}

.citi-schedule-calendar-range:before {
  content: "\e9d6";
}

.citi-schedule-calendar-warning:before {
  content: "\e9d7";
}

.citi-schedule-calendar:before {
  content: "\e9d8";
}

.citi-schedule-clock-down-arrow:before {
  content: "\e9d9";
}

.citi-schedule-clock:before {
  content: "\e9da";
}

.citi-schedule-stopwatch:before {
  content: "\e9db";
}

.citi-security-auto-coverage:before {
  content: "\e9dc";
}

.citi-security-fraud-coverage:before {
  content: "\e9dd";
}

.citi-security-lock-check:before {
  content: "\e9de";
}

.citi-security-lock-pin:before {
  content: "\e9df";
}

.citi-security-lock-profile:before {
  content: "\e9e0";
}

.citi-security-lock:before {
  content: "\e9e1";
}

.citi-security-travel-coverage:before {
  content: "\e9e2";
}

.citi-security-unlock:before {
  content: "\e9e3";
}

.citi-security-vacation-coverage:before {
  content: "\e9e4";
}

.citi-security-visibility-off:before {
  content: "\e9e5";
}

.citi-security-visibility-on:before {
  content: "\e9e6";
}

.citi-security-web-protection-check:before {
  content: "\e9e7";
}

.citi-service-auto:before {
  content: "\e9e8";
}

.citi-service-bars-coffee:before {
  content: "\e9e9";
}

.citi-service-branch-location:before {
  content: "\e9ea";
}

.citi-service-cart-rewards:before {
  content: "\e9eb";
}

.citi-service-concierge-bell:before {
  content: "\e9ec";
}

.citi-service-customer-service:before {
  content: "\e9ed";
}

.citi-service-dining:before {
  content: "\e9ee";
}

.citi-service-education:before {
  content: "\e9ef";
}

.citi-service-fashion:before {
  content: "\e9f0";
}

.citi-service-file-security:before {
  content: "\e9f1";
}

.citi-service-fitness:before {
  content: "\e9f2";
}

.citi-service-free-exchange:before {
  content: "\e9f3";
}

.citi-service-gas:before {
  content: "\e9f4";
}

.citi-service-giftcard:before {
  content: "\e9f5";
}

.citi-service-hotel:before {
  content: "\e9f6";
}

.citi-service-insurance-check:before {
  content: "\e9f7";
}

.citi-service-insurance-purchase:before {
  content: "\e9f8";
}

.citi-service-insurance-trip:before {
  content: "\e9f9";
}

.citi-service-insurance-warning:before {
  content: "\e9fa";
}

.citi-service-insurance:before {
  content: "\e9fb";
}

.citi-service-kids:before {
  content: "\e9fc";
}

.citi-service-lounge:before {
  content: "\e9fd";
}

.citi-service-medicine:before {
  content: "\e9fe";
}

.citi-service-no-expiration:before {
  content: "\e9ff";
}

.citi-service-pay-with-points:before {
  content: "\ea00";
}

.citi-service-pets:before {
  content: "\ea01";
}

.citi-service-plane:before {
  content: "\ea02";
}

.citi-service-ribbon-charity:before {
  content: "\ea03";
}

.citi-service-roadside-assistance:before {
  content: "\ea04";
}

.citi-service-theater:before {
  content: "\ea05";
}

.citi-service-ticket:before {
  content: "\ea06";
}

.citi-service-train:before {
  content: "\ea07";
}

.citi-service-travel-check:before {
  content: "\ea08";
}

.citi-service-travel-insurance:before {
  content: "\ea09";
}

.citi-service-travel-plus:before {
  content: "\ea0a";
}

.citi-service-travel:before {
  content: "\ea0b";
}

.citi-service-vacation:before {
  content: "\ea0c";
}

.citi-service-wifi:before {
  content: "\ea0d";
}

.citi-small-check:before {
  content: "\e900";
}

.citi-small-close:before {
  content: "\e901";
}

.citi-small-down:before {
  content: "\e902";
}

.citi-small-equal:before {
  content: "\e903";
}

.citi-small-favorite:before {
  content: "\e904";
}

.citi-small-help:before {
  content: "\e905";
}

.citi-small-info:before {
  content: "\e906";
}

.citi-small-left:before {
  content: "\e907";
}

.citi-small-minus:before {
  content: "\e908";
}

.citi-small-navigation:before {
  content: "\e909";
}

.citi-small-plus:before {
  content: "\e90a";
}

.citi-small-right:before {
  content: "\e90b";
}

.citi-small-up:before {
  content: "\e90c";
}

.citi-small-warning:before {
  content: "\e90d";
}


